<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Our Analytics App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Sparky</h1>
        {% if 'credentials' in session %}
            <p>You are currently signed in.</p>
            <a href="{{ url_for('logout') }}"><button>Sign out</button></a>
            {% if 'properties' in session %}
            <form action="{{ url_for('fetch_data') }}" method="post" onsubmit="fetchAndDisplayInsights(event)">
                <label for="property">Select a property:</label>
                <select name="property_id" id="property" onchange="setPropertyType()">
                    {% for property in session['properties'] %}
                        <option value="{{ property['property_id'] }}">{{ property['property_name'] }} ({{ property['property_type'] }} - {{ property['property_id'] }})</option>
                    {% endfor %}
                </select>
                <!-- Hidden field to store property type -->
                <input type="hidden" name="property_type" id="property_type" value="">
                <input type="submit" value="Fetch Data">
            </form>

            <div id="insights">
                <div class="insights-container">
                    <h2>Insights</h2>
                    <div class="summary">
                        <h3>Summary</h3>
                        <p id="summary-content">Summary will appear here.</p>
                    </div>
                    <div class="key-insights">
                        <h3>Key Insights</h3>
                        <p id="key-insights-content">Key Insights will appear here.</p>
                    </div>
                    <div class="actionable-strategies">
                        <h3>Actionable Strategies</h3>
                        <p id="actionable-strategies-content">Actionable Strategies will appear here.</p>
                    </div>
                    <div id="loader" style="display:none;">Fetching data<span id="dots"></span></div>
                </div>
            </div>
            {% endif %}
        {% else %}
            <p>Click the button below to sign in with Google and select your Analytics account.</p>
            <a href="{{ url_for('authorize') }}"><button>Sign in with Google</button></a>
        {% endif %}
    </div>

    <script>
        function fetchAndDisplayInsights(event) {
            event.preventDefault();

            var propertyId = document.getElementById('property').value;
            var formData = new FormData();
            formData.append('property_id', propertyId);

            document.getElementById('loader').style.display = 'block';
            animateDots();

            fetch('/fetch-data', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data); // Log the entire data object for debugging
                document.getElementById('loader').style.display = 'none';
                document.getElementById('gpt4_insights_content').innerHTML = formatInsights(data);
            })
            .catch(error => {
                console.error('Error fetching insights:', error);
                document.getElementById('loader').style.display = 'none';
            });

        }

        function animateDots() {
            var dots = document.getElementById("dots");
            var count = 0;
            setInterval(() => {
                dots.innerHTML = ".".repeat(count % 4);
                count++;
            }, 500);
        }

        function formatInsights(data) {
            var text = data.gpt4_insight.text;

            // Function to format lists with HTML line breaks
            function formatList(text) {
                return text.replace(/(\n\d\.)/g, '<br>$1');
            }

            // Extracting and formatting each section
            var summaryMatch = text.match(/### Summary:[\s\S]*?\n([\s\S]*?)\n(?=###)/);
            var keyInsightsMatch = text.match(/### Key Insights:[\s\S]*?\n([\s\S]*?)\n(?=###)/);
            var actionableStrategiesMatch = text.match(/### Actionable Strategies:[\s\S]*?\n([\s\S]*)/);

            var summary = summaryMatch ? summaryMatch[1].trim() : 'No summary available.';
            var keyInsights = keyInsightsMatch ? formatList(keyInsightsMatch[1].trim()) : 'No key insights available.';
            var actionableStrategies = actionableStrategiesMatch ? formatList(actionableStrategiesMatch[1].trim()) : 'No actionable strategies available.';

            document.getElementById('summary-content').innerHTML = summary;
            document.getElementById('key-insights-content').innerHTML = keyInsights;
            document.getElementById('actionable-strategies-content').innerHTML = actionableStrategies;
        }










        function setPropertyType() {
            var property = document.getElementById('property');
            var selectedProperty = property.options[property.selectedIndex].text;
            var propertyType = selectedProperty.includes('UA-') ? 'UA' : 'GA4';
            document.getElementById('property_type').value = propertyType;
        }
        window.onload = setPropertyType;
    </script>
</body>
</html>
