<!-- templates/beta-access.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Access Denied</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="/path/to/node_modules/feather-icons/dist/feather.min.js"></script>
    <script src="{{ url_for('static', filename='js/dynamic-vh.js') }}"></script>
</head>
<body>
    <div class="access-denied-container">
        <div class="beta-access-content">
            <div class="denied-vis">
                <img src="{{ url_for('static', filename='images/access-denied.png') }}" alt="Access Denied">

            </div>
            <h1>Whoops, you don't have access yet.</h1>
            <p>We're slowly rolling out access to Sparky, sign up for the beta and you'll get an email as soon as we're ready to get you onboarded.</p>
        </div>
        <div class="CTA-beta-container">
            <a target="_blank" href="https://www.usesparky.com/#beta"><button>Request Beta Access</button></a>
            <p class="disclaimer">Please <a href="{{ url_for('main.index') }}">sign in</a> if you have been allowed beta access. If you have received an email confirming access and are still being denied, please <a href="mailto:support@usesparky.com">reach out to our support</a>.</p>

        </div>
    </div>
</body>
</html>
