<!-- Inside your navbar.html or in the HTML where navbar is defined -->
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

<nav class="navbar">
    <div class="navbar-logo">
        <a href="{{ url_for('main.select_property') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Sparky Logo">
        </a>
    </div>
    
    <div class="navbar-menu">
        <div class="navbar-menu">
        <button class="dropdown-button" id="dropdownButton">
            {% if session.get('user_avatar') %}
                <img src="{{ session['user_avatar'] }}" alt="User Avatar" class="user-avatar">
                <!-- <span>{{ session.get('user_business_name', 'Your Business') }}</span> -->

            {% else %}
                <i data-feather="menu"></i>
            {% endif %}
        </button>
        <div class="dropdown-content" id="navbarDropdown">
            <!-- User Avatar and Name (if available) -->
            {% if session.get('user_avatar') %}
            <div class="dropdown-header">
                <img src="{{ session['user_avatar'] }}" alt="User Avatar" class="user-avatar">
                <span>{{ session.get('user_business_name') }}</span>
            </div>
            {% endif %}
        
            <!-- Dropdown links -->
            <a href="{{ url_for('main.edit_profile') }}">Edit Profile</a>  <!-- Add this line -->
            <a href="{{ url_for('main.account') }}">Account</a>
            <a href="{{ url_for('auth.logout') }}">Sign out</a>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const dropdownButton = document.getElementById('dropdownButton');
        const navbarDropdown = document.getElementById('navbarDropdown');

        dropdownButton.addEventListener('click', function(event) {
            event.stopPropagation(); // Prevent the event from bubbling up
            navbarDropdown.style.display = navbarDropdown.style.display === 'block' ? 'none' : 'block';
        });

        // Close the dropdown if clicked outside of it
        document.addEventListener('click', function(event) {
            if (!navbarDropdown.contains(event.target)) {
                navbarDropdown.style.display = 'none';
            }
        });
    });

    // Ensure feather icons are replaced after the DOM is fully loaded
    feather.replace();



</script>
