<!DOCTYPE html>
<html>
<head>
    <title>Select Property - Sparky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- VanillaJS Datepicker CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker/dist/css/datepicker.min.css">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!-- Feather Icons (if you still need this) -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="/path/to/node_modules/feather-icons/dist/feather.min.js"></script>
    <script src="{{ url_for('static', filename='js/dynamic-vh.js') }}"></script>


</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="prop-body">
            <h1 class="prop">Fetch your report.</h1>
            <p class="prop">Sparky uses AI to interpret your analytics for you, and gives you comprehensive insights. Select a property from your account and fetch a report.</p>

            <div class="fields">
                <div id="date-range-picker">
                    <input type="text" id="start-date" name="start_date" placeholder="Start Date">
                    <input type="text" id="end-date" name="end_date" placeholder="End Date">
                </div>
                
                <select name="property_id" id="property" onchange="checkPropertySelected()" class="select-placeholder">
                    <option value="" disabled selected>Select Property</option>
                    {% for property in session['properties'] %}
                        <option value="{{ property['property_id'] }}">
                            {{ property['formatted_name'] }}
                        </option>
                    {% endfor %}
                </select>
                {% if not properties %}
                    <div class="no-properties-message">
                        <p style="text-align: left;" class="disclaimer">Looks like you don't have any properties associated with your Google account. You can learn how to set up properties from <a target="_blank" href="https://support.google.com/analytics/answer/9304153?hl=en" target="_blank">Google's documentation</a>. <br><br>If you are a Shopify user, you can learn how to set up <a target="_blank" href="https://help.shopify.com/en/manual/reports-and-analytics/google-analytics/google-analytics-setup" target="_blank">Google Analytics with Shopify</a> to make the most out of Sparky.</p>
                    </div>
                {% endif %}
            </div>


        </div>
        <div id="gif-loader" style="display:none; text-align:center;">
            <img src="{{ url_for('static', filename='images/loader.gif') }}" alt="Loading...">
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="CTA-container">
            <div id="loader" style="display:none;">Loading data<span id="dots"></span></div>
            <form action="{{ url_for('analytics.fetch_data') }}" method="post" onsubmit="fetchAndDisplayInsights(event)">
                <input type="hidden" name="property_type" id="property_type" value="">
                <input type="submit" value="Go Fetch" disabled id="submit-button">
            </form>
        </div>
    </div>
    <!-- Inside select_property.html -->


    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker/dist/js/datepicker-full.min.js"></script>
    <script>

        function checkPropertySelected() {
                var propertySelect = document.getElementById('property');
                var startDateInput = document.getElementById('start-date');
                var endDateInput = document.getElementById('end-date');
                var submitButton = document.getElementById('submit-button');

                var isPropertySelected = propertySelect.value && propertySelect.value !== "";
                var areDatesSelected = startDateInput.value && endDateInput.value;
                submitButton.disabled = !(isPropertySelected && areDatesSelected);

                // Toggle class based on whether the placeholder option is selected
                if (!propertySelect.value || propertySelect.value === "") {
                    propertySelect.classList.add('select-placeholder');
                } else {
                    propertySelect.classList.remove('select-placeholder');
                }
            }


        document.addEventListener('DOMContentLoaded', function() {
            const startDateInput = document.getElementById('start-date');
            const endDateInput = document.getElementById('end-date');
            const propertySelect = document.getElementById('property');

            // Fetch properties and initialize property select
            fetch('/get_properties').then(response => {
                if(response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to fetch properties');
                }
            }).then(data => {
                data.properties.forEach(property => {
                    const option = document.createElement('option');
                    option.value = property.property_id;
                    option.textContent = property.formatted_name;
                    propertySelect.appendChild(option);
                });
            }).catch(error => {
                console.error('Error:', error);
            });

            // Initialize Date Range Picker
            const maxDate = new Date();
            maxDate.setDate(maxDate.getDate() - 1);
            new DateRangePicker(document.getElementById('date-range-picker'), {
                format: 'yyyy-mm-dd',
                autohide: true,
                inputs: [startDateInput, endDateInput],
                maxDate: maxDate // Set max date as yesterday
            });

            // Add event listeners
            propertySelect.addEventListener('change', checkPropertySelected);
            startDateInput.addEventListener('change', checkPropertySelected);
            endDateInput.addEventListener('change', checkPropertySelected);

            // Initial check
            checkPropertySelected();
        });

        document.addEventListener('click', function(event) {
        var withinDatePicker = document.getElementById('date-range-picker').contains(event.target);
        var datepickerIsOpen = !startDateInput.value && !endDateInput.value;
        if (!withinDatePicker && datepickerIsOpen) {
            // Manually hide the datepicker here
            // You might need to call a method from the datepicker library or trigger an event
        }
        });







        function fetchAndDisplayInsights(event) {
            event.preventDefault();
            var propertyId = document.getElementById('property').value;
            var formData = new FormData();
            formData.append('property_id', propertyId);

            // Append date range to formData using the correct ID
            var startDate = document.getElementById('start-date').value;
            var endDate = document.getElementById('end-date').value;
            var dateRange = `${startDate} - ${endDate}`;
            formData.append('date_range', dateRange);

            var gifLoader = document.getElementById('gif-loader');
            var submitButton = document.getElementById('submit-button');
            gifLoader.style.display = 'block';
            submitButton.disabled = true;
            submitButton.value = 'Fetching';

            fetch('/analytics/fetch-data', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/reports/report';
                } else {
                    throw new Error('Network response was not ok.');
                }
            })
            .catch(error => {
                console.error('Error fetching insights:', error);
                gifLoader.style.display = 'none';
                submitButton.disabled = false;
                submitButton.value = 'Fetch Report';
            });
        }

        function animateDotsOnButton(button) {
            var count = 0;
            var interval = setInterval(() => {
                if(button.disabled) {
                    button.value = 'Fetching' + '.'.repeat(count % 4);
                    count++;
                } else {
                    clearInterval(interval);
                }
            }, 500);
        }

        function setPropertyType() {
            var property = document.getElementById('property');
            var selectedProperty = property.options[property.selectedIndex].text;
            var propertyType = selectedProperty.includes('UA-') ? 'UA' : 'GA4';
            document.getElementById('property_type').value = propertyType;
        }

        window.onload = setPropertyType;
</script>

<script>
    feather.replace();
</script>

</body>
</html>